@use 'colors';
@use "resets";
@use "fonts";

footer {
  padding: 2rem 0;
  background: colors.$Very-dark-black-blue-footer-background;
  text-align: center;
  border-top-right-radius: 40px;
}

.footer-logo {
  margin-bottom: 2rem;
  img {
    margin: 0 auto;
  }
}

.footer-nav-list-item {
  font-weight: 600;
  color: #fff;
  padding: 0.1rem 0;
  font-family: fonts.$Overpass;
  &:first-child {
    padding: 1.2rem;
  }
}

.footer-link {
  color: colors.$Grayish-blue-footer-text;
  text-decoration: none;
  // opacity: 0.8;
  font-family: fonts.$Overpass;
}
